.kprl-staffing-list, .kprl-staffing-list-compact {
	padding: 20px 0;
	display: block;
	width: 100%;
	float: left;
}

.kprl-staffing-list-title {
	display: block;
	padding: 20px 0 5px;
	margin-top: 0px;
	margin-bottom: 5px;
	border-bottom: 3px solid #ececec;
	color: #2d2d2d;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.kprl-staffing-list-title span {
		display: none;
		float: none;
	}
}

.kprl-staffing-list-title a, .kprl-staffing-list-child-title a {
	color: #2d2d2d;
}

.kprl-staffing-list-title a:hover, .kprl-staffing-list-child-title a:hover {
	color: #2d2d2d;
}

a.kprl-staffing-list-title-button {
	padding: 5px 10px;
	color: #605c5b;
	font-size: 10px;
	font-size: 50%;
	margin: 0px 5px;
}

a.kprl-staffing-list-title-button:hover {
	background: #e1e1e1;
	color: #514c4b;
}

.kprl-staffing-list-child, .kprl-staffing-list-parent {
	display: block;
	width: 100%;
	float: left;
	padding-top: 70px;
	margin-top: -70px;
}

.kprl-staffing-list-parent {
	padding-top: 80px;
	margin-top: -80px;
}

.kprl-staffing-list-compact .kprl-staffing-list-child {
	float: none;
}

span.kprl-staffing-list-child:focus .kprl-staffing-person:first-child, span.kprl-staffing-list-parent:focus .kprl-staffing-person:first-child {
	border-left: 1px solid #ececec;
}

span.kprl-staffing-list-child:focus .kprl-staffing-person, span.kprl-staffing-list-parent:focus .kprl-staffing-person {
	background: #fafafa;
}

.kprl-staffing-list-child-title {
	display: block;
	padding: 30px 0 5px;
	border-bottom: 1px solid #ececec;
	margin: 10px 15px 5px 15px;
	color: #2d2d2d;
}

.kprl-staffing-display-person .kprl-staffing-person-body {
	/* border-bottom: 1px solid #ececec; */
}

.kprl-staffing-person {
	margin-top: 5px;
	color: #5b5c5b;	
	padding-top: 15px;
}

.kprl-staffing-person-body {
	padding: 5px;
	line-height: 20px;
	word-wrap: break-word;
}

.kprl-staffing-person-title {
	margin: 7px 0 7px 0;
	font-weight: 700;
	font-size: 18px;
	color: #141414;
}

.kprl-staffing-person-worktitle, .kprl-staffing-person-phone, .kprl-staffing-person-email {
	display: block;
	font-size: 14px;
}

.kprl-staffing-person a {
	color: #5b5c5b;	
}

.kprl-staffing-person-worktitle {
	font-weight: bold;
	font-size: 16px;
}

.kprl-staffing-categories .kprl-staffing-list-title {
	border-color: #8aa045;
}

.kprl-staffing-departments .kprl-staffing-list-title {
	border-color: #cf343b;
}